html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f1f2;
  padding: 1rem;
  border-bottom: 1px solid #bab7b7;
}

/* Ajustes para el logo e imagen */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #363E45;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: #7C5C9D;
}

.logo-image {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

/* Ajustes para el menú de navegación */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #363E45;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar a:hover {
  color: #7C5C9D;
  background-color: #e0d4ed;
}



.hero {
  background-color: #faf9f9;
  padding: 1.5rem 1rem;
  text-align: center;
  border-bottom: 1px solid #bab7b7; /* Línea de separación */
  padding-bottom: 2rem; /* Espacio debajo de la sección */
}

.hero h1 {
  font-size: 2.5rem;
  color: #212121;
  margin-bottom: 0.5rem;
}

.hero h2 {
  font-size: 1.0rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.hero .intro-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;
}


.hero-image {
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.highlight-text {
  font-size: 1rem; 
  margin: 0 auto;
  text-align: center;
}

.cta-text {
  text-align: left;
  max-width: 400px;
}

.cta-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #7C5C9D; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 1rem;
}

.cta-button:hover {
  background-color: #212121;
}

/* Estilos específicos para la sección Nosotros */
.about-section, .contact-section {
  background-color: #faf9f9;
  padding: 1rem 1rem;
  text-align: center;
    border-bottom: 1px solid #bab7b7; /* Línea de separación */
  padding-bottom: 1rem; /* Espacio debajo de la sección */
}


.about-section h1, .contact-section h1 {
  font-size: 2rem;
  color: #31424C;
  margin-bottom: 1rem;
}

.about-section h2, .contact-section h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.about-section p, .contact-section p {
  font-size: 1.1rem;
  color: #333;
  max-width: 600px;
  margin: 0 auto 1rem;
  line-height: 1.5;
}


/* Estilos específicos para el formulario de contacto */
.contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section form input,
.contact-section form textarea {
  margin-bottom: 1rem;
  padding: 0.75rem;
  width: 100%;
  max-width: 500px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-section form button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: #7C5C9D;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-section form button:hover {
  background-color: #212121;
}

/*Footer*/
footer {
  background-color: #1D2A32;
  color: white;
  text-align: left;
  padding: 1rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between; /* Asegura la separación entre texto y redes sociales */
  align-items: center;
}

.redes-sociales {
  display: flex; /* Alinea las imágenes en una sola linea */
  gap: 10px; /* Ajusta el espaciado entre las imagenes */
}

.redes-sociales img {
  width: 30px; /* Tamaño de las imágenes */
  height: auto;
}


.error-message {
  color: #D32F2F;
  font-size: 14px;
}
